@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

body {
  margin: 0px;
  padding: 0px;
  color: #000;
  font-family: "DM sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.bg {
  background-image: url(image6.jpg);
  padding: 0px 5% 100px;
  min-height: 80vh;
  max-height: 500px;
  color: #fff;
}
a {
  text-decoration: none;
}

.nav {
  display: flex;
  margin-top: auto;
  padding: 30px 0;
  max-width: 1440px;
  align-items: center;
  color: #fff;
}

.nav .navlink {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 60%;
}
.navlink li {
  display: inline-block;
  margin-left: 50px;
}
.navlink a {
  color: #fff;
}
.nav .fas {
  display: none;
}
.section1 {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px;
}

.header1 h2 {
  align-items: center;
  display: flex;
  font-size: 70px;
  text-align: center;
}

.button1 {
  background-color: yellow;
  color: #000;
  width: 200px;
  padding: 17px 40px;
  margin-top: 15px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
.ourservice {
  text-align: center;
  font-size: 30px;

  text-decoration: dashed blue;
  line-height: 1.3rem;
  font-weight: 400;
  letter-spacing: -2px;
  margin: 50px 0;
}
.sectioncardcontainer {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  padding: 50px 100px;
  overflow: scroll;

  scrollbar-width: none;
  scroll-behavior: smooth;
}
.sectioncardcontainer img {
  width: 343px;

  scrollbar-width: none;
  scroll-behavior: smooth;
  height: 343px;
}

#section2 {
  padding-top: 50px;
  padding-bottom: 50px;
  height: 100%;
  width: 100%;
  display: grid;
  justify-items: center;
  justify-content: center;
  background-color: #f6f8f5;
}
.section2card h1 {
  display: grid;
  justify-items: center;
  font-size: 40px;
  margin: 20px 10px;
}
.section2card h3 {
  text-align: center;
  font-size: 35px;
  line-height: 43px;
  letter-spacing: -2px;
}
.section2card img {
  width: 60px;
  height: 60px;
}
.cardimage1 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardimage1 h4 {
  font-size: 14px;
  color: #000;
}
.section3 {
  display: flex;
  color: #536942;
  margin: 50px 10%;
  align-items: center;
  justify-content: space-between;
}
#about {
  padding: 20px;
  display: grid;
  justify-content: space-between;
}
.about h4 {
  font-size: 12px;
  color: #536941;
}
.about h2 {
  font-size: 40px;
  color: #000;
}
.btn {
  background-color: #fff;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  border-width: 1px;
  font-size: 15px;
  padding: 16px 36px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-color: yellow;
}
.section3 img {
  width: 404px;
  height: 489px;
}
/*.section4 {
  background-image: url(image2.jpg);
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  text-align: center;
  padding: 100px 0px;
  margin: 50px 0;
}
/*.section4 h1 {
  font-size: 56px;
  margin: 20px;
  color: #fff;
}
.section4 p {
  font-size: 16px;
  color: #fff;
}
.button4 {
  font-size: 14px;
  padding: 15px;
  background-color: yellow;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 200px;
}*/
.book h1 {
  font-size: 45px;
}

.form1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#name {
  height: 40px;
  border-style: solid;
  border-width: var(--corvid-border-width, var(--brw, 1px));
  background-color: #032b44;
  width: 60%;
  color: white;
  font-size: 20px;
  border-color: var(
    --corvid-border-color,
    rgba(var(--brd, 227, 227, 227), var(--alpha-brd, 1))
  );
}

#submit {
  width: 100px;
  height: 40px;
  background-color: #fff;
  border-radius: 5px;
  color: black;
  border-style: none;
  cursor: pointer;
}
.back {
  width: 100px;
  height: 40px;
  background-color: #fff;
  border-radius: 5px;
  color: black;
  border-style: none;
  cursor: pointer;
  margin: 20px;
}
#submit .back {
  display: flex;
}
#card5 {
  display: flex;
  height: 1250px;
}
#card5 img {
  height: 1250px;
  object-fit: cover;
  object-position: 50% 50%;
}
.text5 {
  background-color: rgba(253, 219, 77, 1);
  padding: 70px 70px;
  font-size: 18px;
}
.text5 h1 {
  font-size: 40px;
  color: #032b44;
}
.text5 h2 {
  color: #032b44;
  padding-top: 50px;
  font-size: 29px;
}
.text6 {
  padding-top: 30px;
  padding-left: 80px;
}
.text6 div {
  gap: 100px;
}
#contactme {
  background-color: #032b44;
  text-align: center;
  color: #fff;
  padding-bottom: 60px;
}
.h11 {
  margin: auto;
  font-size: 45px;
  padding-top: 60px;
  padding-bottom: 20px;
}
.contactme2 {
  display: block;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-right: 250px;
  padding-left: 250px;
}
.footer1 {
  display: grid;
  justify-items: center;
  margin: 20px;
}
#footer2 {
  display: grid;
  justify-items: center;
}
.footer3 img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.footer4 {
  display: flex;
  align-items: center;
}
.footer4 img {
  width: 20px;
  height: 20px;
}
@media (max-width: 1000px) {
  .bodyunscroll {
    overflow: hidden;
  }
  .nav .navlink {
    display: block;
    position: fixed;
    top: 0;
    height: 100%;
    right: -100%;
    width: 60%;
    background-color: #242133;
    z-index: 999;
    padding-top: 30%;
    transition: right 0.5s ease;
    /*display: none;*/
  }
  .nav .navlinkshown {
    right: 0;
  }
  .nav ul li {
    display: block;
    margin-bottom: 25px;
    margin-left: 30px;
  }
  .nav .fas {
    display: block;
  }
  html {
    font-size: 14px;
  }
  .barIcon {
    margin-left: auto;
    font-size: 2rem;
  }
  .xmarkIcon {
    position: absolute;
    top: 30px;
    right: 25px;
    font-size: 2rem;
  }
  .ourservice {
    text-align: center;
    font-size: 20px;

    text-decoration: dashed blue;
    line-height: 1rem;
    font-weight: 300;
    letter-spacing: -2px;
    margin: 50px 0;
  }
  .header1 h2 {
    align-items: center;
    display: flex;
    font-size: 40px;
  }

  .sectioncardcontainer {
    flex-direction: column;
    padding: 0px;
    display: flex;
    align-items: center;
  }
  .section2card h1 {
    color: yellow;
  }
  .section2card h3 {
    font-size: 20px;
    padding: 5px;
    line-height: 23px;
  }
  .section3 img {
    display: none;
  }
  .about {
    justify-items: center;
  }
  .section4 p {
    padding: 0px 10px;
  }
  #card5 {
    height: 900px;
  }
  #card5 img {
    display: none;
  }
  .text5 {
    text-align: center;
    padding: 20px;
    font-size: 13px;
  }
  .text5 h1 {
    font-size: 25;
  }
  .text5 h2 {
    padding-top: 15px;
    font-size: 20px;
  }
  .text6 {
    padding-left: 0px;
  }
  .contactme2 {
    padding-left: 30px;
    padding-right: 30px;
  }
  .h11 {
    font-size: 25px;
  }
  .book h1 {
    font-size: 20px;
  }
  #name {
    font-size: 14px;
  }
  .footer4 {
    font-size: 12px;
  }
}
